/* CSS Variables */
/* Set Page Colors */
:root{
    --color-primary: #FBDDBD;
    --color-secondary: #2F1B0F;
}
html{
    font-size: 62.5%;
    /* Allows you to use rems instead of pixels for sizing */
    /* 
    5px = 0.5rem 
    10px = 1rem
    16px = 1.6rem
    20px = 2rem
    60px = 6rem
    */
}
/* Browser Reset */
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Fix Browser Bounce on MacIOS */
body{
    overflow-x: auto;
    width: 100%;
    overscroll-behavior: none;
    /* Allows for easy pizel calcs in rem */
    font-size: 1.6rem;
}
/* 
All Page Sections

pageheader
showcase 
features
pagecontent 
semesters
pagefooter
*/
/* General Mobile First CSS */
body{
    /* padding: 1rem; */
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.7rem;
    background-color: #f8fafc;
    color: #333;
}
/* Link Styles */
a{
    color: red;
    text-decoration: none;
}
/* Paragraph Styles */
p{
    margin: 1rem 0 1rem 0;
}
/* Header Styles */
h1, h2{
    text-align: center;
}
h1, h2, h3{
    line-height: 1.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* List Styles */
li{
    line-height: 2;
}
/* Container Styles */
.container{
    max-width: 120rem;
    margin: auto;
    padding: 0rem 3rem 0rem 3rem;
}
/* End of General Mobile First CSS */
/* Header Section Styles */
#pageheader{
    background-color: var(--color-primary);
    height: 7rem;
}
/* Special Header Container Styles */
#pageheader .container{
    background-color: #875f41;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 2rem 0 2rem;
}
.logo img{
    height: 6rem;
}
.logo:hover{
    animation-name: swim;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
@keyframes swim{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(45deg);}
}
/* Header Menu */
#menu{
    background-color: none;
    color: #fff;
    display: flex;
    justify-content: space-between;
    width: 20rem;
    list-style-type: none;
}
#menu li a:hover{
    color: #ffe8cf;
}
/* End of Header Section Styles */
/* Showcase Section Styles */
#showcase{
    border: 0.2rem solid none;
    background-color: var(--color-primary);
    padding: 3rem;
    background-image: url(dist/images/fog.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom left;
}
#showcasetext{
    border: 0.2rem solid none;
    color: var(--color-secondary);
    text-align: center;
    margin: 5rem auto;
    max-width: 60rem;
}
#showcase h1{
    font-size: 5rem;
    margin-bottom: 2rem; 
}
#showcase blockquote{
    font-size: 2.4rem;
    margin-bottom: 2rem;
    padding: 2rem;
}
#showcaseimage{
    text-align: center;
}
#showcaseimage img{
    border-radius: 1rem;
    margin: auto;
}
#showcaseintro{
    color: #fff;
    text-align: center;
    font-size: 3rem;
    text-shadow: 0 0 1rem black;
}
/* Hide Big Logos/Technologies for Mobile */
#logosbig{
    display: none;
}
#logossmall{
    width: 30rem;
}
/* End of Showcase Section Styles */
/* Features Section */
#features{
    padding-top: 2rem;
    background-color: #FBDDBD;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    flex-direction: column;
}
.card{
    background-color: #ffe8cf;
    padding: 2rem;
    box-shadow: 0rem 0rem 1rem #875f41;
    margin-bottom: 2rem;
    border-radius: 2.5rem;
}
/* End Features Section Styles */
/* PageContent Section */
#pagecontent{
    background-color: #FBDDBD;
    padding: 2rem 0 2rem 0;
}
#pagecontent h2, h3{
    padding: 2rem;
}
#pagecontent h2{
    font-size: 4rem;
    color: var(--color-secondary);
}
#pagecontent h3{
    font-size: 2.5rem;
}
/* End of PageContent Section */
/* Semester Section */
#semesters{
    background-color: #FBDDBD;
    padding: 2rem 0 2rem 0;
}
#semesters h2, #semesters h3{
    padding: 2rem 0 2rem 0;
}
#semesters h2{
    font-size: 4rem;
}
#semesters h3{
    font-size: 2.5rem;
}
.assignments a{
    color: #2F1B0F;
}
.assignments a:hover{
    color: #875f41;
}
/* End of Semester Section */
/* Semesters Thumbnail Section */
.thumbnail{
    background-color: burlywood;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}
.thumb{
    width: 150px;
    height: 150px;
}
.thumb:hover{
    animation-name: tilt;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes tilt{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(-15deg);}
}
/* End of Semesters Thumbnail Section */
/* Footer Section */
#pagefooter{
    background-color: var(--color-primary);
    color: #fff;
    text-align: center;
    padding: 2rem;
    padding-top: 6rem;
}
#pagefooter .container{
    background-color: chocolate;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#pagefooter  a{
    color: #fff;
}
#pagefooter a:hover{
    color: #b7c1bf;
}
#pagefooter h3{
    padding-bottom: 3rem;
}
#pagefooter #quote{
    text-align: left;
}
#pagefooterlinks{
    display: none;
}
/* End of Footer Section */
/* Media Queries */
@media only screen and (min-width: 768px){
    .card{
        flex-basis: 30%;
    }
    #features .container{
        flex-direction: row;
    }
    h1, h2{
        text-align: left;
    }
}
@media only screen and (min-width: 1024px){
    #logosbig{
        display: block;
        margin: auto;
    }
    #logossmall{
        display: none;
    }
}
@media only screen and (min-width: 1200px){
    #pagefooterlinks{
        display: block;
    }
}