---
import "../styles/global.css";
import PageHeader from "../components/PageHeader.astro";
import PageFooter from "../components/PageFooter.astro";
import Features from "../components/Features.astro";
import PageContent from "../components/PageContent.astro";
import Semesters from "../components/Semesters.astro";
import Showcase from "../components/Showcase.astro"
---

<html lang="en">
	<head>
		<link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
<link rel="manifest" href="images/site.webmanifest">
<link rel="mask-icon" href="images/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Macy Giffin's Portfolio</title>
	</head>
	<body>
		<!-- 
		pageheader
		showcase
		features
		pagecontent
		semesters
		pagefooter 
		-->
		<PageHeader />
		<Showcase />
		<Features />
		<PageContent />
		<Semesters />
		<PageFooter />
	</body>
</html>