---

---

		<!-- Begin pageheader -->
		<header id="pageheader">
			<div class="container">
				<div class="logo">
					<img src="/images/fishlogosmallanimate.png" alt="Koi Fish Logo">
				</div>
				<nav>
					<ul id="menu">
						<li><a href="index.html"></a></li>
						<li><a href="about.html"></a></li>
						<li><a href="blog.html"></a></li>
					</ul>
				</nav>
			</div> 
		<!-- End container -->
		</header>
		<!-- End pageheader -->
