---

---

		<!-- Begin pagecontent -->
		<main id="pagecontent">
			<div class="container">
				<h2>Introduction</h2>
				<p>I am Macy Giffin, a web developer from Coalinga, California,  fueled by a passion for technology and a love for history, math, and reading. Completing Coalinga High School's Web Technologies Pathway showcases my commitment to mastering different crafts. With a broad range of interests, I bring a unique perspective to my work, leveraging historical context, mathematical principles, and continuous learning to excel in web development. Coalinga's blend of small-town charm and modern amenities provides an ideal environment for my pursuits. My dedication to growth and innovation promises a bright future in the ever-evolving field of technology.</p>
				<h2>Career</h2>
				<p>My diverse interests in history, mathematics, and reading also fuel my passion for learning and teaching. Completing the Web Technologies Pathway at Coalinga High School demonstrates my dedication and lays the foundation for my future academic pursuits. Through my web development skills, I plan to create innovative educational materials that engage students and enhance their understanding of historical concepts. With determination and a commitment to excellence, I am poised to achieve my goal of inspiring future generations as a respected history professor.</p>
				<h2>Design</h2>
				<p>Constantly seeking new stories and insights, she immerses herself in literature, drawing inspiration from tales of the past. Through my voracious reading habits, I not only expand my knowledge but also hone my writing skills. The Web Technologies Pathway at Coalinga High School has further equipped me, improving my typing abilities and facilitating my creative expression. With a deep appreciation for the written word, I envision weaving my love for storytelling into my future endeavors, both in academia and history.</p>
				<h2>Programming</h2>
				<p>Over the past two years, I has delved into JavaScript, finding it both intriguing and challenging. As I navigates the complexities of the language, my passion for web development grows stronger. I embrace the learning curve, eager to master JavaScript's intricacies and apply my newfound skills in new projects.</p>
			</div> <!-- End container -->
		</main>
		<!-- End pagecontent -->