---

---

		<!-- Begin pagefooter -->
		<footer id="pagefooter">
			<div class="container">
				<div id="quote">
					<h3>Final Thoughts</h3>
					<blockquote data-quote="Bacon">Knowledge is power.</blockquote>
					<p>-Sir Francis Bacon</p>
				</div> <!-- End quote -->
				<div id="pagefooterlinks">
					<h3>Links</h3>
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="blog.html">Blog</a></li>
					</ul>
				</div> <!-- End pagefooterlinks -->
			</div> <!-- End container -->
		</footer>
		<!-- End pagefooter -->