---

---

		<!-- Begin pagecontent -->
		<main id="pagecontent">
			<div class="container">
				<h2>Introduction</h2>
				<p>My name is Macy Giffin. I am a web developer based in Coalinga, California. I enjoy technology and I love to learn about history, math, and reading. I am also about to complete the Web Technologies Pathway at Coalinga High School.</p>
				<h2>Career</h2>
				<p>My goal is to become a history professor for a wellknown college. I plan to utilize the material I use in here to accomplish my goal.</p>
				<h2>Design</h2>
				<p>Another interest that I have is reading. I love to read new things al, of the time and to learn through those stories written long ago. I have a passion for writing and this class has helped me to be a better typer.</p>
				<h2>Programming</h2>
				<p>Over the last two years I have been learning JavaScript. I have found it interesting and quite challenging as well.</p>
			</div> <!-- End container -->
		</main>
		<!-- End pagecontent -->