---

---

		<!-- Begin semesters -->
		<section id="semesters">
			<div class="container">
				<h2>Key Assignments</h2>
				<section id="workthumbnails">
					<div class="thumbnail">
						<a href="images/thumbnail1.png"><img src="images/thumbnail1.png" alt="Markdown 1" class="thumb"></a>
						<a href="https://chsserver01.org/2023/mgiffin062023/Activities/CanvasDrawing/canvasdrawing1.html"><img src="images/thumbnail2a.png" alt="Canvas Drawing 1" class="thumb"></a>
						<a href="https://chsserver01.org/2023/mgiffin062023/Activities/CanvasDrawing/canvasdrawing2.html"><img src="images/thumbnail3a.png" alt="Canvas Drawing 2" class="thumb"></a>
						<a href="https://chsserver01.org/2023/mgiffin062023/Demos/ArraysReview/arraysreviewforeach2.html"><img src="images/thumbnail4a.png" alt="Arrays Practice" class="thumb"></a>
						<a href="https://chsserver01.org/2023/mgiffin062023/Activities/AFB003/afb003.html"><img src="images/thumbnail5a.png" alt="AFB003" class="thumb"></a>
						<a href="https://chsserver01.org/2023/mgiffin062023/Activities/PaintBrushPrototype6/paintbrushprototype6.html"><img src="images/thumbnail6a.png" alt="Paintbrush Prototype" class="thumb" ></a>
					</div>
				</section>
				<h3>Semester 1</h3>
				<ul class="assignments">
					<li><a href="https://chsserver01.org/2023/mgiffin062023/Demos/Canvas/canvas2.html">Canvas</a></li>
					<li><a href="https://chsserver01.org/2023/mgiffin062023/Activities/CanvasDrawing/canvasdrawing1.html">Canvas Drawing 1</a></li>
					<li><a href="https://chsserver01.org/2023/mgiffin062023/Activities/CanvasDrawing/canvasdrawing2.html">Canvas Drawing 2</a></li>
					<li><a href="https://chsserver01.org/2023/mgiffin062023/Demos/ArraysReview/arraysreviewforeach2.html">Arrays Practice</a></li>
				</ul>
				<h3>Semester 2</h3>
				<ul class="assignments">
					<li><a href="https://chsserver01.org/2023/mgiffin062023/Activities/AFB001/afb001.html" target="new">AFB001 - Flex-Direction, Justify-Content-Align-Items</a></li>
					<li><a href="https://chsserver01.org/2023/mgiffin062023/Activities/AFB002/afb002.html" target="new">AFB002 - Flex-Direction, Wrap, Justify-Content-Align-Items</a></li>
					<li><a href="https://chsserver01.org/2023/mgiffin062023/Activities/AFB003/afb003.html" target="new">AFB003 - Flex-Direction, Order or Align-Self</a></li>
					<li><a href="https://chsserver01.org/2023/mgiffin062023/Activities/PaintBrushPrototype6/paintbrushprototype6.html" target="new">Paint Brush Prototype - Part 6</a></li>
				</ul>
			</div> <!-- End container -->
		</section>
		<!-- End semesters -->