---

---

<!-- Begin showcase -->
<section id="showcase">
    <div id="showcasetext">
        <h1>Macy Giffin</h1>
        <h2>Portfolio</h2>
        <blockquote>Life is made of ever so many partings welded together. -Charles Dickens</blockquote>
    </div>
    <div id="showcaseimage">
        <img src="dist/images/technologiesbig.png" alt="Technologies" id="logosbig">
        <img src="dist/images/technologiessmall.png" alt="Technologies" id="logossmall">
    </div>
    <p id="showcaseintro">
        This is a showcase of my web design/devlopment work.
    </p>
</section>
<!-- End showcase -->