---

---

<!-- Begin showcase -->
<section id="showcase">showcase
    <div id="showcasetext">
        <h1>Macy Giffin</h1>
        <h2>Portfolio</h2>
        <blockquote>Life is made of ever so many partings welded together. -Charles Dickens</blockquote>
    </div>
    <div id="showcaseimage">
        <img src="Images/" alt="">
    </div>
</section>
<!-- End showcase -->